.forest {
    margin-top: 21px;
    height: 600px;
    width: 100%;
    background: url(../../img/forest_bg.svg) center (center/cover) no-repeat;
    padding-top: 220px;
    &__textBlock {
        display: block;
        margin: 0 auto;
        width: 1000px;
        padding: 0 83px;
    }
    &__title {
        font-size: 27px;
        line-height: 22px;        
        color: #FFFFFF;
    }
    &__text {
        margin-top: 21px;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}