.info {
    &__mainBG {
        width: 1280px;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
    }
    &__textWrapper {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        row-gap: 35px;
        column-gap: 40px;
        &_title {
            grid-column: 1 / 3;
            grid-row: 1 / 4;
            width: 425px;
            font-family: 'Libre Baskerville', sans-serif;
            font-size: 31px;
            line-height: 38px;
            letter-spacing: 1.2px;
            color: #003331;            
        }
        &_item {
            &-title {
                font-size: 15px;
                line-height: 24px;
                color: #003331;
            }
            &-text {
                font-size: 15px;
                line-height: 24px;
                color: rgba(53, 83, 98, 0.8);
            }
        }
    }
    &__pressHeader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__pressTitle {
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 27px;
        line-height: 38px;
        letter-spacing: 1.2px;
        color: #003331;
    }
    &__press_btn {
        width: 112px;
        height: 54px;
        border: 1px solid rgba(53, 83, 98, 0.2);
        border-radius: 80px;
        background-color: #fff;
        color: #003331;
        text-align: center;
        line-height: 52px;
    }
    &__pressWrapper {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__pressItem {
        width: 363px;
        border-top: 1px solid rgba(53, 83, 98, 0.3);
        &_header {
            margin-top: 16px;
            display: flex;
        }
        &_img {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }        
        &_name {
            margin-left: 16px;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: rgba(53, 83, 98, 0.6);
        }
        &_time {
            margin-left: 16px;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: rgba(53, 83, 98, 0.6);
        }
        &_text {
            margin-top: 7px;
            font-size: 17px;
            line-height: 25px;
            color: #00413E;
        }
    }
}